.left{
text-align:left;
float:left;
}
.right{
float:right;
text-align:right;
}
.centered{
text-align:center;
}

.leftheader{
text-align:left;
float:left;
}
.rightheader{
float:right;
text-align:right;
}
.centeredheader{
text-align:center;
}


header, footer, main {
    position: absolute;
    left: 0;
    width: 100%;
}

header, footer {
    overflow: hidden;
    background: #444;
    height: 100px;
}
header {
    top: 0;
}
main {
    top: 100px;
    bottom: 100px;
    overflow: auto;
    background: #CCC;
}

footer {
    bottom: 0;
}​