
body {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: #4CAF50;
}

.active
{
    background-color: #4CAF50;
}
.right
{
    float:right;
}


.leftfooter{
text-align:left;
float:left;
}
.rightfooter{
float:right;
text-align:right;
}
.centeredfooter{
text-align:center;
}

.flex-figures {
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    width: 90%;
    margin: 0 auto;
}

.flex-figure {
    margin: 10px;
    width: 30%;
}

figure > image
{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .3s ease-in-out;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

img
{
    display: block;
    margin: 0 auto;
}
.flex-figure > figure
{
    width:100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid
}


table, th, td {
    border: 1px solid black;
    margin: 0 auto;
}

th {
    background-color: blue;
    color: white;
}


header, footer, main {
    position: absolute;
    left: 0;
    width: 100%;
}

header, footer {
    overflow: hidden;
    background: #444;
    height: 100px;
}
header {
    top: 0;
}
main {
    height: 900px;
    /*top: 100px;*/
    /*bottom: 100px;*/
    overflow: auto;
    background: #CCC;
}

footer {
    bottom: 0;
}
textarea {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 160px;
 }

.form {
     border: 2px solid black;
     width: 27%;
     height: 500px;
     margin: 0 auto;
     margin-top: 150px;
    background-color: aquamarine;
}

.form label {
    display: block;
    text-align: center;
}

.form button {
    display: block;
    margin: 0 auto;
    background-color: green;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.form input {
    display: block;
    margin: 0 auto;
}

legend {
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Bell MT";
    font-size: 50px;
}