{% import 'macros/macros.html' as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>


<ul>
  {% block navigation %}
      <li><a {% block home %} {% endblock %}href="{{ url_for('Homepage') }}">Home</a></li>
      <li><a {% block database %} {% endblock %} href="{{ url_for('database') }}">Database</a></li>
      <li><a {% block logs %} {% endblock %}href="{{ url_for('Logs') }}">Logs</a></li>
      <li><a class="right" {% block comments %} {% endblock %} href="{{ url_for('comments') }}">Comments</a></li>
  {% endblock %}
</ul>



{% block body %}

{% endblock %}


<footer>
	<p class="leftfooter"></p>
	<p class="rightfooter"><br><a href="{{ url_for('logout') }}" ><button type="submit">LOGOUT</button></a></p>
    <p class="centeredfooter"><br><img  class="imgfooter" src="{{ url_for('static',filename='images/cc.png') }}" ></p>
</footer>
</body>
</html>