{% extends "basis.html" %}
 {% block title %}
     Home
 {% endblock %}
{% block comments %}
    class="active"
{% endblock %}
{% block body %}
    <main>
    <div class="form">
        <legend>Leave a comment</legend><br>
        <form action="{{ url_for('commentsent') }}" method="post">
            <label>Naam:</label>
            <input type="text" placeholder="Enter Name" name="naam">
            <label>Voornaam:</label>
            <input type="text" placeholder="Enter Surname" name="voornaam">
            <label>Bericht:</label>
            <textarea name="comment">Geef hier uw probleem of voorstel in</textarea><br>
            <button type="submit" >Sent comment</button>
        </form>
    </div>
    </main>


{%  endblock %}