<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">
</head>
<body>

<header>
	<p class="leftheader"></p>
	<p class="rightheader"></p>
    <p class="centeredheader"><img class="imgheader" src={{ url_for('static',filename='images/sec.jpg') }}></p>
</header>
<main>
        <div class="form">
            <legend>HomeSecurity</legend>
            <form action="{{ url_for('Login') }}" method="POST">
                <label>Username:</label>
                <input type="text" placeholder="Enter Username" name="uname">
                <label>Password:</label>
                <input type="password" placeholder="Enter Password" name="psw"><br>
                <button type="submit" >Login</button>
            </form>
        </div>
</main>

<footer>
	<p class="left"></p>
	<p class="right"></p>
    <p class="centered"><br><img  class="imgfooter" src="{{ url_for('static',filename='images/cc.png') }}" ></p>
</footer>

</body>
</html>
