{% extends "basis.html" %}
 {% block title %}
     Logs
 {% endblock %}
{% block logs %}
    class="active"
{% endblock %}
{% block body %}
    <main>
    <table>
    <tr>
        <th>LOGID</th>
        <th>Locatie</th>
        <th>Tijdtsip</th>
        <th>Type</th>
        <th>File</th>
        <th>Notitie</th>
        <th>Belangrijk</th>
     </tr>
    {% for log in logs %}
        <tr>
            <td>{{ log[0] }}</td>
            <td>{{ log[1] }}</td>
            <td>{{ log[2] }}</td>
            <td>{{ log[3] }}</td>
            <td>{{ log[4] }}</td>
            <td>{{ log[5] }}</td>
            <td>{{ log[6] }}</td>
        </tr>
    {% endfor %}
    </table>
    </main>

{%  endblock %}