{% extends "basis.html" %}
 {% block title %}
     Logs
 {% endblock %}
{% block database %}
    class="active"
{% endblock %}
{% block body %}
    <main>
    <table>
    <tr>
        <th>UserID</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Role</th>
     </tr>
    {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
        </tr>
    {% endfor %}
    </table>
    </main>

{%  endblock %}